PaperCave.Core.Api/obj
PaperCave.Core.Api/bin
PaperCave.Core.Models/bin
PaperCave.Core.Models/obj
PaperCave.Core.Services/bin
PaperCave.Core.Services/obj
PaperCave.Core.Tests/bin
PaperCave.Core.Tests/obj